body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: black;
    color: white;
}

.container {
    max-width: 540px;
    margin: 0 auto;
}

.category {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    background-color: #151515;
    border-radius: 5px; /* Ajoutez une bordure arrondie */
    padding: 10px; /* Ajoutez un remplissage pour l'espace intérieur */
    height: 48px;
    overflow: hidden;
    transition: height 200ms ease-in;
}

.category-title {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.category.show {
    height: 80vb;
    transition: height 200ms ease-in;
}

#category1-title {
    cursor: pointer
}

#category2-title {
    cursor: pointer
}

@font-face {
    font-family: 'MightySouly';
    src: url('MightySouly.ttf') format('truetype');
  }
  
.mighty-font {
    font-family: 'MightySouly', sans-serif;
  }

.object-list {
    max-height: 74vb;
    overflow-y: auto;
    padding-right: 4px; /* Ajoutez un padding de 4 pixels à droite */
}


.object-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #181818;
    background-color: #222;
    border-radius: 5px;
}

.object-image {
    width: 50px;
    height: 50px;
    margin-right: 16px;
}

.object-details {
    flex-grow: 1;
}

.object-count {
    font-weight: bold;
    margin-right: 10px;
}

/* Ajoutez ces styles pour la zone de texte éditable */
.object-count-input {
    width: 60px; /* Ajustez la largeur selon vos préférences */
    text-align: center; /* Centrez le texte dans la zone de texte */
    border-radius: 6px;
    padding: 5px;
    margin-right: 10px; /* Ajoutez un espacement à droite pour séparer des boutons */
    font-size: inherit; /* Utilisez la taille de police héritée */
    background-color: #333; /* Fond gris foncé */
    color: white; /* Texte blanc */
}

.object-count-input:focus {
    outline: none; /* Supprimez le contour lorsqu'elle est en focus */
    border-color: #3498DB; /* Changez la couleur de la bordure lorsqu'elle est en focus */
}


.object-buttons {
    display: flex;
    align-items: center;
}

button {
    margin-right: 5px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button.increment {
    background-color: #3498DB;
    color: white;
    width: 27px;
    height: 27px;
}

button.decrement {
    background-color: #FF5733;
    color: white;
    width: 27px;
    height: 27px;
}

/* Personnalisation de la barre de défilement pour les deux div principales */
.object-list::-webkit-scrollbar {
    width: 8px; /* Largeur de la barre de défilement */
}

.object-list::-webkit-scrollbar-thumb {
    background-color: #555; /* Couleur de la poignée de défilement */
    border-radius: 4px; /* Arrondi des bords de la poignée */
}

.object-list::-webkit-scrollbar-thumb:hover {
    background-color: #777; /* Couleur de la poignée de défilement au survol */
}
